@import url("reset.css")/*tpa=https://fkmypass.netlify.app/css/reset.css*/;
@import url("border.css")/*tpa=https://fkmypass.netlify.app/css/border.css*/;
@import url("global.css")/*tpa=https://fkmypass.netlify.app/css/global.css*/;

/* .main { height: 100%; background-color: #ededed; } */
.application, .my { background-color: #fff; }
.application { padding: .36rem; }
.my { display: none; background-color: #efeff4; }

/** menu start **/
.menu_title {
	height: .5rem;
	text-align: center;
	color: #1890ff;
	font-weight: 700;
	font-size: 18px;
	border-bottom: 1px solid #ddd;
	padding-bottom: .2rem;
}
.menu_box {
	width: 100%;
	padding-top: .2rem;
	display: flex;
	flex-wrap: wrap;
}
.menu_box > div {
	width: 31%;
	margin: 1%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: .2rem 0;
}
.menu_box > div > img { width: .8rem; height: auto; }
.menu_box > div > span {
	width: 1.8rem;
	text-align: center;
	margin-top: .1rem;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	color: #666;
	line-height: .5rem;
}
.my .weui-cell:first-child { background-color: #1890ff; }
.my .weui-cell__hd { margin-right: 10px;  }
.my .weui-cell__hd img { 
	height: 1rem;
	width: 1rem;
	display: block;
	border-radius: 50%; 
}
.my .weui-cell__bd p { color: #fff; }
.my .weui-cell__bd p:first-child { font-size: 15px; }
.my .weui-cell__bd p:last-child { font-size: 13px; margin-top: .14rem; }
.my .weui-cell.weui-cell_active.weui-cell_access { margin-top: .18rem; background-color: #fff; } 
.my .weui-btn_cell.weui-btn_cell-default { 
	border-radius: .14rem; 
	margin-top: .14rem; 
	padding: .23rem;
}

.weui-tabbar__item.weui-bar__item_on .weui-tabbar__label{
	color: #1890ff;
}
/** menu end **/


/** v2 start **/
#container {
	height: 100%; 
	background-color: #edf1f5;
	box-sizing: border-box;
}
.main { 
	height: 90%; 
	width: 90%;
	position: fixed;
/* 	top: 2.52rem; */
	top: .52rem;
	z-index: 101;
	left: 5%;
	box-sizing: border-box;
	overflow-y: scroll;
	padding-bottom: .5rem;
}
#container > .bg {
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 100;
}
.footer_tabbar {
	width: 100%;
	position: absolute;
	bottom: 0;
}
.main_box {
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
	box-sizing: border-box;
  padding: 20px;
  margin-bottom: .15rem;
}
.main_title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #181a1a;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10rpx;
}
.main_title img {
  height: .3rem;
  width: .42rem;
	margin: .1rem;
}
.main_section {
  display: flex;
  flex-wrap: wrap;
}
.item {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: .4rem;
  position: relative;
}
.item .item_icon {
  height: 1.2rem;
  width: 1.2rem;
}
.item > .text {
  width: 100%;
  text-align: center;
  margin-top: .16rem;
  font-size: 14px;
  font-weight: 700;
  color: #051e33;
}
/** v2 end **/